<div class="nav_bg bg_img3">
    <h2>참여마당</h2>
</div>
<nav class="sub_nav">
    <ul>
        <li><a href="#" class="sub_active">공지사항</a></li>
        <li><a href="#">행사안내</a></li>
        <li><a href="#">현장스케치</a></li>
        <li><a href="#">언론보도</a></li>
        <li><a href="#">문의 및 제안</a></li>
        <li><a href="#">입점신청</a></li>
    </ul>
</nav>
<section class="notice">
    <h3>공지사항</h3>
    <article class="noti_top">
        <div class="noti_top_wrap">
            <div class="dropdown">
                <button class="dropdown_toggle">제목</button>
                <ul class="dropdown_menu">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="form_srch">
                <input type="text" placeholder="검색어를 입력하세요." />
                <button></button>
            </div>
        </div>
        <h5>
            총
            <span class="h_span"><%= count %></span>
            개의 글이 있습니다.
        </h5>
    </article>
    <article class="table_wrap">
        <table>
            <!-- table layout fixed 주고 말줄임표 테스트해보기 -->
            <colgroup>
                <col />
                <col style="width: 51%" />
                <col style="width: 12%" />
                <col style="width: 15%" />
                <col />
            </colgroup>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>등록일</th>
                    <th>조회</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((row, index) => { %>
                    <tr>
                        <td class="dis_none">
                            <span><%= row.id %></span>
                        </td>
                        <td class="txt_left">
                            <a onclick="javascript:location.href ='/notice_view?id=<%=row.id%>'"><%= row.title %></a>
                        </td>
                        <td><%= row.name %></td>
                        <td><%= row.date %></td>
                        <td class="dis_none">
                            <%= row.views %>
                        </td>
                    </tr>

                <% }) %>
                <tr>
                    <td class="dis_none">
                        <span class="noti_badge">공지</span>
                    </td>
                    <td class="txt_left">
                        <a href="view">서문·칠성야시장 매대운영자 모집공고</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-03-24</td>
                    <td class="dis_none">291</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span class="noti_badge">공지</span>
                    </td>
                    <td class="txt_left">
                        <a href="">서문야시장 22년 3월 영업 공지</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-02-28</td>
                    <td class="dis_none">1887</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span class="noti_badge">공지</span>
                    </td>
                    <td class="txt_left">
                        <a href="">설 명절 특별 이벤트 진행</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-01-28</td>
                    <td class="dis_none">466</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span class="noti_badge">공지</span>
                    </td>
                    <td class="txt_left">
                        <a href="">서문야시장 ’22년 설 연휴 기간 영업 공지</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-01-24</td>
                    <td class="dis_none">878</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span class="noti_badge">공지</span>
                    </td>
                    <td class="txt_left">
                        <a href="">서문야시장 동계영업 시간 공지</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-01-03</td>
                    <td class="dis_none">2004</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span>82</span>
                    </td>
                    <td class="txt_left">
                        <a href="">● 제4회 2021 서문가요제 결승전 개최 ●</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-12-17</td>
                    <td class="dis_none">363</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span>81</span>
                    </td>
                    <td class="txt_left">
                        <a href=""
                            >2021 야시장 2차 매대 운영자 모집 품평회 심사 대상자
                            및 공고</a
                        >
                    </td>
                    <td>운영자</td>
                    <td>2022-11-02</td>
                    <td class="dis_none">591</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span>80</span>
                    </td>
                    <td class="txt_left">
                        <a href="">2021년 2차 야시장 매대운영자 모집 연장</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-09-30</td>
                    <td class="dis_none">712</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span>79</span>
                    </td>
                    <td class="txt_left">
                        <a href="">서문·칠성야시장 매대운영자 모집공고</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-01-25</td>
                    <td class="dis_none">300</td>
                </tr>
                <tr>
                    <td class="dis_none">
                        <span>78</span>
                    </td>
                    <td class="txt_left">
                        <a href="">서문야시장 정기휴무일 변경안내</a>
                    </td>
                    <td>운영자</td>
                    <td>2022-08-13</td>
                    <td class="dis_none">2560</td>
                </tr>
            </tbody>
        </table>
    </article>
    <div class="view_btn" style="overflow: hidden; margin-top: 3.055rem">
        <a href="write" style="float: right">글쓰기</a>
    </div>
    <ul class="pn">
        <li class="pn_icon first"><a href=""></a></li>
        <li class="pn_icon prev"><a href=""></a></li>
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">6</a></li>
        <li><a href="">7</a></li>
        <li><a href="">8</a></li>
        <li class="pn_icon next"><a href=""></a></li>
        <li class="pn_icon last"><a href=""></a></li>
    </ul>
</section>
